[submodule "references/RustDDS"]
	path = references/RustDDS
	url = https://github.com/jhelovuo/RustDDS.git
[submodule "references/ShapesDemo"]
	path = references/ShapesDemo
	url = https://github.com/eProsima/ShapesDemo.git
